button()
  display inline-block
  position relative
  cursor pointer
  overflow hidden
  outline none
  text-align center
  text-decoration none
  text-overflow ellipsis
  vertical-align middle
  white-space nowrap
  z-index 1