// gray
$color-liberty = #e1e1e1
$color-granite-gray = #686868
$color-taupe-gray = #888
$color-jet = #333
$color-isabelline = #eee
$color-white-smoke = #f7f7f7
$color-snow = #fafafa

// red
$color-coral-reef = #f77

// blue
$color-brandeis-blue = #0073f1
$color-space-cadet = #2b2b51
$color-glitter = #e6eaf0
$color-eton-blue = #99D6A2

$color-black = #000
$color-white = #fff